.slide-down {
	opacity: 1;
	animation-name: slideDown;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-55px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}