@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        overflow: auto !important;
        padding: 0 !important;
    }
}

.ekg-path {
    transform: translateX(-50px);
    stroke-dashoffset: 300;
    stroke-dasharray: 300;
    opacity: 1;
    animation: ekg-draw 5s linear infinite;
}

@keyframes ekg-draw {
    
    0% {
        opacity: 0;
        stroke-dashoffset: 300;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    70% {   
        stroke-dashoffset: 0;   
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        stroke-dashoffset: -300;
    }
}

:root {
    --theme-50: 255 247 237;
    --theme-100: 255 237 213;
    --theme-200: 254 215 170;
    --theme-300: 253 186 116;
    --theme-400: 251 146 60;
    --theme-500: 249 115 22;
    --theme-600: 234 88 12;
    --theme-700: 194 65 12;
    --theme-800: 154 52 18;
    --theme-900: 124 45 18;
    --gradient-300: 224 151 124;
    --gradient-500: 147 79 107;
}

.theme-olive {
    --theme-50: 248 250 230;
    --theme-100: 243 246 199;
    --theme-200: 230 238 138;
    --theme-300: 215 228 77;
    --theme-400: 205 219 45;
    --theme-500: 195 207 33;
    --theme-600: 167 177 27;
    --theme-700: 134 140 22;
    --theme-800: 102 105 18;
    --theme-900: 78 81 14;
    --gradient-50: 248 250 230;
    --gradient-100: 243 246 199;
    --gradient-200: 230 238 138;
    --gradient-300: 215 228 77;
    --gradient-400: 205 219 45;
    --gradient-500: 195 207 33;
    --gradient-600: 167 177 27;
    --gradient-700: 134 140 22;
    --gradient-800: 102 105 18;
    --gradient-900: 78 81 14;
}

.theme-blue {
    --theme-50: 239 246 255;
    --theme-100: 224 242 254;
    --theme-200: 186 230 253;
    --theme-300: 125 211 252;
    --theme-400: 56 189 248;
    --theme-500: 37 99 235;
    --theme-600: 29 78 216;
    --theme-700: 30 64 175;
    --theme-800: 30 58 138;
    --theme-900: 30 58 138;
    --gradient-50: 239 246 255;
    --gradient-100: 224 242 254;
    --gradient-200: 186 230 253;
    --gradient-300: 125 211 252;
    --gradient-400: 56 189 248;
    --gradient-500: 37 99 235;
    --gradient-600: 29 78 216;
    --gradient-700: 30 64 175;
    --gradient-800: 30 58 138;
    --gradient-900: 30 58 138;
}

.theme-cyan {
    --theme-50: 236 253 254;
    --theme-100: 207 250 254;
    --theme-200: 165 243 252;
    --theme-300: 103 232 249;
    --theme-400: 52 211 228;
    --theme-500: 22 163 74;
    --theme-600: 15 164 67;
    --theme-700: 6 95 70;
    --theme-800: 6 78 59;
    --theme-900: 6 78 59;
    --gradient-50: 236 253 254;
    --gradient-100: 207 250 254;
    --gradient-200: 165 243 252;
    --gradient-300: 103 232 249;
    --gradient-400: 52 211 228;
    --gradient-500: 22 163 74;
    --gradient-600: 15 164 67;
    --gradient-700: 6 95 70;
    --gradient-800: 6 78 59;
    --gradient-900: 6 78 59;
}

.theme-green {
    --theme-50: 236 253 245;
    --theme-100: 209 250 229;
    --theme-200: 167 243 208;
    --theme-300: 110 231 183;
    --theme-400: 52 211 153;
    --theme-500: 16 185 129;
    --theme-600: 5 150 105;
    --theme-700: 4 120 87;
    --theme-800: 4 97 70;
    --theme-900: 4 97 70;
    --gradient-50: 236 253 245;
    --gradient-100: 209 250 229;
    --gradient-200: 167 243 208;
    --gradient-300: 110 231 183;
    --gradient-400: 52 211 153;
    --gradient-500: 16 185 129;
    --gradient-600: 5 150 105;
    --gradient-700: 4 120 87;
    --gradient-800: 4 97 70;
    --gradient-900: 4 97 70;
}

.theme-purple {
    --theme-50: 245 243 255;
    --theme-100: 237 233 253;
    --theme-200: 221 214 254;
    --theme-300: 196 181 253;
    --theme-400: 167 139 250;
    --theme-500: 139 92 246;
    --theme-600: 124 58 237;
    --theme-700: 109 40 217;
    --theme-800: 91 33 182;
    --theme-900: 91 33 182;
    --gradient-50: 245 243 255;
    --gradient-100: 237 233 253;
    --gradient-200: 221 214 254;
    --gradient-300: 196 181 253;
    --gradient-400: 167 139 250;
    --gradient-500: 139 92 246;
    --gradient-600: 124 58 237;
    --gradient-700: 109 40 217;
    --gradient-800: 91 33 182;
    --gradient-900: 91 33 182;
}

